/**
@color-green: #0a0;
@color-teal: #009daa;
@color-blue-vivid: #00b7ff;
@color-blue-aim: #009ddb;
@color-green-vivid: #16dd00;
@color-green-aim: #1ca648;
@color-red-vivid: #ff020a;
@color-red-aim: #d00;
@gray-dark: #7e8995;
@gray-mid: #aab1b9;
@gray-light: #d4d8dc;
@gray-lighter: #d8dddf;
@gray-lightest: #f5f5f5;
**/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 32px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: all 1s ease-out;
}


/*LINKS*/
a {
  color: #0092cc;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 2px #00b7ff;
  border: 1px solid #00b7ff;
}

.link {
  color: #0092cc;
}

.link:hover {
  color: #00aff4;
}

.link-discreet {
  text-decoration: none;
}

.link-discreet:hover {
  text-decoration: underline;
}

.link-invisible {
  text-decoration: none;
}

/*UTILITIES*/

.txt-gray {
  color: #636d79;
}

.no-margin {
  margin: 0;
}

.unselectable {

}

.height-100vh {
  height: 100vh;
}

.space-right-1 {
  margin-right: 16px;
}

.space-right-1ch {
  margin-right: 1ch;
}

.space-left-1ch {
  margin-left: 1ch;
}

.space-right-2 {
  margin-right: 32px;
}

.space-bottom-2 {
  margin-bottom: 32px;
}

.space-bottom-3 {
  margin-bottom: 48px;
}

.container {
  min-width: 16em;
  max-width: 48em;
  margin: auto;
}

.padded-2 {
  padding: 32px;
}

.panel {
  position: relative;
  border: 1px solid #e3e7e8;
  background-color: #fff;
  border-radius: 4px;
}

.pos-rel {
  position: relative;
}

.row::after,
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.row {
  margin-left: -16px;
  margin-right: 16px;
}

.col-m-3 {
  padding-left: 8px;
  padding-left: 8px;
}

@media screen and (min-width: 32em) {
  .col-m-3 {
    width: 33.333%;
    float: left;
  }
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-end {
  margin-left: auto;
}

.flex-row-spread {
  display: flex;
  justify-content: space-between;
}

.float-right {
  float: right;
}

.txt-center {
  text-align: center;
}

.list-space-1 > li {
  margin-bottom: 8px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.with-shadow {
  box-shadow: 0 0 8px 0px rgba(0,0,0,0.2);
}

/*CONTENT*/
.body {
  padding: 64px 0 32px 0;
}

.header {
  background: #fff;
  color: #fff;
  position: fixed;
  height: 78px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.header-inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 16px 32px;
}

.link-cta:visited,
.link-cta {
  height: 48px;
  padding: 16px 32px;
  background-color: #009ddb;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  width: 12em;
}

.link-cta:hover {
  background-color: #19a9ab;
}

.app-title {
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: normal;
  text-transform: uppercase;
  color: #000;
  position: relative;
  top: -2px;
}

.app-title-suffix {
  font-size: 0.5em;
  position: absolute;
  right: 1px;
  bottom: -1em;
  color: #999;
}


.section-poweredby {
  background-color: #f0f0f0;
}

.main-footer {
  bottom: 0;
  color: #666;
  font-size: 0.8em;
  height: 32px;
  left: 0;
  padding: 8px 32px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f0f0f0;
}

.main-footer-content {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.section-title {
  color: #009ddb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-title-gray {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bg-white {
  background-color: #fff;
}

.screenshot {
}

.app-overview {
  background: linear-gradient(135deg, #00a8eb 0%,#1ca692 100%);
  color: #fff;
}

.overview-title {
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

.overview-features {
  list-style: none;
  padding-left: 0;
}

.overview-features > li {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media screen and (min-width: 32em) {
  .overview-features {
    display: flex;
    justify-content: space-between;
  }

  .overview-features > li {
    width: 33.3333%;
  }
}

/*MY CRYPTOS*/
.img-wrapper-portfolio {
  height: 194px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin-bottom: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.big-arrow {
  transform: rotateZ(90deg);
  text-align: center;
  color: #ececec;
  font-size: 3em;
}

.col-portfolio {
  margin-bottom: 32px;
}

.my-cryptos-img-wrapper {
  height: 22em;
  width: 22em;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.my-cryptos-img-wrapper.screenshot {
  position: absolute;
  top: -25px;
  left: -28px;
}

.img-wrapper-portfolio-img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 32em) {
  .my-cryptos-content {
    width: 50%;
    float: left;
    padding-right: 48px;
    padding-top: 32px;
  }

  .my-cryptos-img-wrapper {
    width: 50%;
    float: left;
  }

  .img-wrapper-portfolio-img {
    /* position: absolute;
    top: 0;
    left: 0; */
  }

  .col-portfolio {
    width: 50%;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*MARKET*/
.market-img-wrapper {
  height: 22em;
  width: 22em;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.market-img-wrapper.screenshot {
  position: absolute;
  top: -25px;
  left: -28px;
}

@media screen and (min-width: 32em) {
  .market-img-wrapper {
    width: 50%;
    float: left;
  }

  .market-content {
    width: 50%;
    float: left;
    padding-right: 48px;
    padding-top: 48px;
  }
}


/*NEWS*/
.news-img-wrapper {
  height: 22em;
  width: 22em;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 32em) {
  .news-img-wrapper {
    width: 50%;
    float: right;
  }

  .news-content {
    width: 50%;
    float: right;
    padding-left: 48px;
    padding-top: 48px;
  }
}

.slideshow {
  animation-name: slideshow;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slideshow {
  0% {transform: translateX(0px);}
  50% {transform: translateX(-290px);}
  100% {transform: translateX(0px);}
}

.slideshow2 {
  animation-name: slideshow2;
  animation-duration: 20s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slideshow2 {
  0% {transform: translateX(50px);}
  50% {transform: translateX(-280px);}
  100% {transform: translateX(50px);}
}

.slideshow3 {
  animation-name: slideshow3;
  animation-duration: 15s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes slideshow3 {
  0% {transform: translateX(50px);}
  50% {transform: translateX(-330px);}
  100% {transform: translateX(50px);}
}

